<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jokes.com</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>
<body>
    <div class="table-container">
        <table>
            <tr>
                <th colspan="1" class="header">Today's Top Comedians</th>
            </tr>
            <tr>
                <td class="content1">{{.FirstPl}}</td>
            </tr>
            <tr>
                <td class="content2">{{.SecondPl}}</td>
            </tr>
            <tr>
                <td class="content3">{{.ThirdPl}}</td>
            </tr>
        </table>
    </div>
    <form action="/w" method="post">
        <div class="my-container">
            <h2 class="my-title">{{.MyTitle}}</h2>
            <p class="my-text1">{{.MyText1}}</p>
            <p class="my-text2">{{.MyText2}}</p><br><br>
            <button>Your W</button>
        </div>
    </form>
    <div class="chat">
        <div id="messages" class="messages">
            <!-- Existing messages will be inserted here -->
        </div>
    </div>
    <div class="message-box">
        <input id="message-input" type="text" placeholder="...">
        <button id="send-button" onclick="sendMessage()">s</button>
    </div>
    <form action="/what" method="post">
        <button class="what">?</button>
    </form>
</body>
</html>